In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("dataTest/dataRaw.csv")

In [3]:
df.head()

,Episode,Timestep,State,Action,Reward
0,0,0,"(0.0052181245, 1.4055575, 0.52852476, -0.23835...",0,0.000000
1,0,1,"(0.01042366, 1.400781, 0.52662253, -0.21231945...",2,0.772001
2,0,2,"(0.015764713, 1.3963101, 0.5395441, -0.1987676...",2,-1.113987
3,0,3,"(0.021160413, 1.3919865, 0.5447873, -0.1922297...",2,-0.662293
4,0,4,"(0.026653767, 1.3870609, 0.5570422, -0.2190553...",3,-2.394271

In [4]:
newCols = ["x", "y", "lvx", "lvy", "angle", "av", "left", "right"]

In [5]:
observationSpace = df["State"].apply(lambda x : [float(n) for n in x.replace("(","").replace(")","").split(",")])

In [6]:
len(observationSpace)

1117532

In [7]:
df[newCols] = list(observationSpace)

In [8]:
newDf = df.drop(["State"], axis=1)

In [9]:
newDf[newDf["Episode"] <= 1000].to_csv("dataTest/data.csv", index=False)