In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("dataTest/dataRaw.csv")

In [3]:
df.head()

,Episode,Timestep,State,Action,Reward
0,0,0,"(0.0022999763, 1.4146769, 0.23294918, 0.166968...",0,0.000000
1,0,1,"(0.0044879913, 1.4185586, 0.2219859, 0.1725040...",2,-0.456419
2,0,2,"(0.0067523, 1.4218447, 0.23155478, 0.14602795,...",3,-0.128430
3,0,3,"(0.009114742, 1.4255849, 0.24092484, 0.1661926...",2,-3.031584
4,0,4,"(0.011404228, 1.4287283, 0.23177293, 0.1396774...",1,1.582462

In [4]:
newCols = ["x", "y", "lvx", "lvy", "angle", "av", "left", "right"]

In [5]:
observationSpace = df["State"].apply(lambda x : [float(n) for n in x.replace("(","").replace(")","").split(",")])

In [6]:
len(observationSpace)

1000001

In [7]:
df[newCols] = list(observationSpace)

In [8]:
newDf = df.drop(["State"], axis=1)

In [9]:
newDf.to_csv("dataTest/RLLunarLanding2023.3.csv", index=False)
newDf[newDf["Episode"] <= 1000].to_csv("dataTest/data.csv", index=False)